body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFC100;
  color: black;
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header h1 {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem 0;
}

.dos-element-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.search-filter {
  display: flex;
}

.categories {
  display: flex;
}

.search-filter input[type="text"], .search-filter select {
  padding: 0.5rem;
  font-size: 1rem;
}

.event-listings {
  display: flex;
  flex-wrap: wrap;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 1rem;
  padding: 1rem;
  width: calc(33% - 2rem);
  box-sizing: border-box;
}

.event h2 {
  margin-top: 1rem;
  color: #333;
}

.event p {
  margin: 0.5rem 0;
}

.event a {
  margin: 0.5rem 0;
}

.event img {
  height: 20%;
  width: 80%;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #FFC100;
  color: black;
  transition: background-color 0.3s ease;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.btn:hover {
  background-color: #FF8A08;
}

footer {
  background-color: #FFC100;
  color: black;
  padding: 1rem 0;
  text-align: center;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}

.event-details {
  margin-top: 1rem;
  background-color: white;
  border: 1px solid #FFC100;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 2rem;
  margin-bottom: 2rem;
}

.event-details h2 {
  margin-top: 0;
  color: black;
}

.event-details p, .event-details ul {
  margin: 0.5rem 0;
}

.event-details ul {
  padding-left: 1.5rem;
}

.event-details a {
  color: black;
  text-decoration: none;
}

.event-details a:hover {
  text-decoration: underline;
}

.event-description {
  width: 80%;
  min-height: 100px;
  max-height: 300px;
  min-width: 200px;
  max-width: 600px;
}

.event-description-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: left;
  padding: 1rem 2rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 1rem 2rem;
}

label {
  margin-top: 1rem;
}

.star-rating .star {
  color: #FFC100;
  font-size: 24px;
  cursor: pointer;
}

/* Textarea styling */
textarea {
    width: 100%;
    height: 300px;
    padding: 15px;
    font-size: 1.1rem;
    font-family: 'Arial', sans-serif;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    resize: none; /* Disables the ability to resize the textarea */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: 100%;
  }
  .event-listings {
    flex-direction: column;
    height: 100%;
  }

  .event {
    width: 100%;
  }
}

// @media only screen and (min-width: 600px) {
//   .event-listings {
//     flex-direction: column;
//     height: 100%;
//   }
// }

// @media only screen and (min-width: 768px) {
//   .event-listings {
//     flex-direction: column;
//     height: 100%;
//   }
// }

// @media only screen and (min-width: 992px) {
//   .event-listings {
//     flex-direction: column;
//     height: 100%;
//   }
// }

// @media only screen and (min-width: 1200px) {
//   .event-listings {
//     flex-direction: row;
//     height: 100%;
//   }
// }